<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Anderson Figueiredo</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header container">
        <figure>
            img(class="header__logo", src="images/logo.jpg", alt="Logo Anderson Figueiredo")
        </figure>
        img(class="menu__icon js-icon__menu", src="images/left-black.svg", alt="abrir menu")
        <nav class="menu">
            img(class="menu-close", src="images/right-black.svg", alt="fechar do menu")
            <ul class="menu__list">
                <li><a href="/" class="menu__list__item">home</a></li>
                <li><a href="/" class="menu__list__item">posts</a></li>
                <li><a href="/" class="menu__list__item">portfolio</a></li>
                <li><a href="/about" class="menu__list__item">sobre mim</a></li>
            </ul>
        </nav>
    </header>
    <main class="main container">
        h1(class="main__title") Anderson Figueiredo
        
        h2 Minhas experiências

    </main>
    <footer class="footer container"></footer>
    script(src="js/menu.js")
</body>
</html>