<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Anderson Figueiredo</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    include templates/header.pug
    main(class="main container")
        h1(class="main__title") Anderson Figueiredo
        |
        h2(class="main__subtitle") Tech Manager e desenvolvedor no Grupo Caelum Alura

        section(class="main__posts__highlight")
            article(class="main__posts__highlight__card")
                div(class="main__posts__highlight__card-content") titulo do post  - (debug version)
                    p Conteúdo do post - (debug version)
    
    <footer class="footer container"></footer>
    script(src="js/menu.js")
</body>
</html>