<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Anderson Figueiredo</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header class="header container">
        <nav class="menu">
            <ul class="menu__list">
                <li><a href="#" class="menu__list__item">home</a></li>
                <li><a href="#" class="menu__list__item">posts</a></li>
                <li><a href="#" class="menu__list__item">portfolio</a></li>
                <li><a href="#" class="menu__list__item">sobre mim</a></li>
            </ul>
        </nav>
    </header>
    <main class="main container">
        <p>meu portfolio</p>
    </main>
    <footer class="footer container"></footer>
    
</body>
</html>