body * { 
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 0 2rem;
}

/* Color Theme Swatches in Hex */
.Illustration-1-hex { color: #EEF277; }
.Illustration-2-hex { color: #F2F2F2; }
.Illustration-3-hex { color: #BFBFBF; }
.Illustration-4-hex { color: #8C8C8C; }
.Illustration-5-hex { color: #595959; }

/* Color Theme Swatches in RGBA */
.Illustration-1-rgba { color: rgba(238, 242, 118, 1); }
.Illustration-2-rgba { color: rgba(242, 242, 242, 1); }
.Illustration-3-rgba { color: rgba(191, 191, 191, 1); }
.Illustration-4-rgba { color: rgba(140, 140, 140, 1); }
.Illustration-5-rgba { color: rgba(89, 89, 89, 1); }

/* Color Theme Swatches in HSLA */
.Illustration-1-hsla { color: hsla(61, 82, 70, 1); }
.Illustration-2-hsla { color: hsla(0, 0, 95, 1); }
.Illustration-3-hsla { color: hsla(0, 0, 75, 1); }
.Illustration-4-hsla { color: hsla(0, 0, 55, 1); }
.Illustration-5-hsla { color: hsla(0, 0, 35, 1); }