.header {
    position: sticky;
    width: 100vw;
    top: 0;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 5rem;
    border-radius: 50px;
    border: 2px solid #595959;
}

.menu__icon {
    width: 2rem;
    cursor: pointer;
}

.menu {
    position: fixed;
    z-index: 1;
    right: -160%;
    top: 0;
    background-color: #EEF277;
    width: 20rem;
    height: 50vh;
    -webkit-transition: right .25s;
    transition: right .25s;
    padding: 1rem;
}

.menu--active {
    right: 0;
}

.menu-close {
    width: 2rem;
    cursor: pointer;
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: column;
    margin-top: 2rem;
}

.menu__list li {
    padding-left: .7rem;
}

.menu__list__item {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
    color: #595959;
}

.menu__list__item:hover {
    color: #000000;
}