body {
    display: flex;
    flex-direction: column;
}

.main {
    margin-top: 2rem;
}

.main__title {
    font-size: 2rem;
}

.main__subtitle {
    font-weight: 400;
}

.home-card {
    border: solid 1px black;
}